language: [ ruby, node_js ]
rvm: [ 2.1.1 ]
node_js: [ 0.10 ]

before_script:
  - npm install bower -g
  - bower install

before_install:
  - 'echo ''gem: --no-document'' > ~/.gemrc'

install:
  - bundle update

script: bundle exec rake travis

# set the branch that will be built and published to GitHub pages
branches:
  only:
    - demo

# create a GitHub Personal Access Token
# install the travis gem
# and run the command below (fill in your name, email, and token)
# $ travis encrypt 'GIT_NAME="Your Name" GIT_EMAIL=you@example.com GH_TOKEN=token'
# replace the value of secure with your generated value
env:
  - secure: "FXc+1UAEo7jEwUcLuniQ/e4tHI5sUSEH+gjEPcb+XlD59a4M74CoHSqdyOTLlQZGgcI0KOg8UdH/zVJ2ulsDoPhqwSwT3zMH7z3kg9czex+/1uF2NIOUOGJSurfn1V0FCLt9D0EBkL1t8xtIdS3LVV8N5pdR9eXIW/RpM/AgNQg="
