---
# Jekyll options.
domain: https://razor-x.github.io/jekyll-and-deck.js
baseurl: https://razor-x.github.io/jekyll-and-deck.js
markdown: redcarpet
highlighter: pygments
exclude:
  - CHANGELOG.md
  - LICENSE.txt
  - README.md
  - VERSION
  - Gemfile.lock
  - Gemfile
  - Rakefile
  - bower.json
  - bower_components
  - deck-*.zip
  - vendor

gems:
  - jekyll-assets
  - sass
  - coffee_script

# Jekyll::AssetsPlugin options.
assets:
  baseurl: https://razor-x.github.io/jekyll-and-deck.js/assets/
  sources:
    - _assets/images
    - _assets/javascripts
    - _assets/stylesheets
    - bower_components
  compress:
    css: sass
    js: uglifier

# Default html tag to use for slides.
# Override per slide with {% slide tagname %}
slide_tag: section

# Set to true to load MathJax.
mathjax: false

# Use a CDN to load some libraries.
# Libraries are loaded first, asynchronously,
# and should not depend on each other.
cdn_enabled: true
cdn:
  # [ url, loaded check, local asset fallback path ]
  libs:
    - [ "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js", "window.jQuery", "jquery/dist/jquery" ]

# Uncomment below to use Firebase as a deck remote.
firebase: https://jekyll-and-deck-js.firebaseio.com/

# Uncomment below and add your Tracking ID and URL to enable Google Analytics.
# google_analytics:
#   id: UA-00000000-0
#   url: example.com

# Uncomment below and add your Piwik URL to enable Piwik.
# piwik: https://example.com/piwik/

# Uncomment below to configure social media.
# social:
#   facebook:
#     enabled: true
#   google:
#     enabled: true
#     gcfg:
#       lang: en-US
#       parsetags: onload
#   twitter:
#     enabled: true

# Uncomment below to enable deploy.
# :deploy:
#   # only :rsync supported
#   :protocol: :rsync
#   # domain name
#   :server: example.com
#   # remote username
#   :user: www
#   # remote port
#   :port: 22
#   # path to remote folder where contents of _site should go
#   # must have trailing slash
#   :path: /var/www/example.com/htdocs/
#   # site files and folders that should be uploaded but not synced
#   # remote content will not be removed from these files and folders
#   :upload_only:
#     - content/
