---
layout: default
title: Deck Title
---

%header.slide
  %h2 {{ page.title }}

%section.slide
  %h2 Body

%section.slide
  %h2 More Body

%footer.slide
  %h2 Final slide
  %p
    %a{href: 'http://www.w3.org/html/logo/'}
      %img{src: '{% asset_path html5-badge-h-css3-semantics.png %}', width: 165, height: 64, alt: 'HTML5 Powered with CSS3 / Styling, and Semantics', title: 'HTML5 Powered with CSS3 / Styling, and Semantics'}
  {% if site.social %}{% include social.html %}{% endif %}
