<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  {% include meta.html %}
  {% stylesheet app %}
  {% javascript head %}
  <script>{% asset fonts.js %}</script>
</head>

<body>
  <div id="deck-loading_screen">
    <h1><div class="spinner"></div>Loading Deck</h1>
  </div>
  <article class="deck-container">
    {{ content }}
  </article>
  {% include notes.html %}

{% if site.social.facebook.enabled %}
  <div id="fb-root"></div>
{% endif %}

  <script>{% asset load.js %}</script>

  <script>
    'use strict';

  {% if site.social.facebook.enabled %}
    {% asset vendor/social-facebook.js %}
  {% endif %}

  {% if site.social.google.enabled %}
    {% asset vendor/social-google.js %}
  {% endif %}

  {% if site.social.twitter.enabled %}
    {% asset vendor/social-twitter.js %}
  {% endif %}

  {% if site.google_analytics %}
    {% asset vendor/google-analytics.js %}
  {% endif %}

  {% if site.piwik %}
    {% asset vendor/piwik.js %}
  {% endif %}
  </script>
</body>
</html>
